.heading{padding: 12px;font-weight: 700;text-align: center;color: #f4623a}
input{font-size: 14px;display: block;width: 100%;border: none;border-bottom: 1px solid #e6e7e8;}
.login-button{background-color: #f4623a;color: #fff;padding: 10px;font-size: 16px;width: 150px;transition: .3s;font-weight: 700;}
i{margin-top: 15px;}
.input-container {display: flex;width: 100%;margin-bottom: 15px;}
.input-field {width: 100%;padding: 10px;outline: none;}
.item-link{color: #f4623a;text-decoration: none; font-weight: 700;}
.item-link[a]:hover {color: #e2552e;}
.fa{color: #f4623a;}