<ngx-loading-bar [height]="'5px'" [color]="'#f4623a'" [diameter]="'24px'"></ngx-loading-bar>
<div class="slideBg" id="slideBg" style="display: none;"></div>
<div style="height: 100vh;background-color: #212832;">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger">Quiz Game</a>
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item" *ngIf="Username!=''" (click)="LogOutUser()">
          <a class="nav-link js-scroll-trigger">
            {{Username}} : LogOut
          </a>
        </li>
        <li class="nav-item" *ngIf="Username==''" [routerLink]="['/login']">
          <a class="nav-link js-scroll-trigger">
            Login
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container h-100">
    <div class="container h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>