<div class="container disable-text" style="padding: 72px 5px 6px 6px;top:5%;position: absolute;">
    <div id="hud">
        <div class="hud-item">
            <p class="hud-prefix">
                Question
            </p>
            <h1 id="questionCounter" class="hud-main-text">{{currentIndex+1}}/5</h1>
        </div>
        <div id="hud">
            <div class="hud-item">
                <p class="hud-prefix">
                    Score
                </p>
                <h1 id="score" class="hud-main-text">
                    {{correctAnswerCount}}
                </h1>
            </div>
        </div>
    </div>
    <div class="row question-holder mt-5">
        <div class="col-12 text-center">
            <h2 id="question">{{currentQuestion}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card choice-container" (click)="validateAnswer(currentQuestionOption_A)" [ngClass]="{'incorrect': (currentWrongAnswer!='' && currentWrongAnswer == currentQuestionOption_A),
            'correct': (currentCorrectAnswer!='' && currentCorrectAnswer == currentQuestionOption_A)}">
                <p class="choice-prefix">A</p>
                <p class="choice-text" data-answer="a">{{currentQuestionOption_A}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card choice-container" (click)="validateAnswer(currentQuestionOption_B)" [ngClass]="{'incorrect': (currentWrongAnswer!='' && currentWrongAnswer ==  currentQuestionOption_B),
            'correct': (currentCorrectAnswer!='' && currentCorrectAnswer == currentQuestionOption_B)}">
                <p class="choice-prefix">B</p>
                <p class="choice-text" data-answer="b">{{currentQuestionOption_B}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card choice-container" (click)="validateAnswer(currentQuestionOption_C)" [ngClass]="{
                    'incorrect': (currentWrongAnswer!='' && currentWrongAnswer == currentQuestionOption_C),
                    'correct': (currentCorrectAnswer!='' && currentCorrectAnswer == currentQuestionOption_C)
            }">
                <p class="choice-prefix">C</p>
                <p class="choice-text" data-answer="c">{{currentQuestionOption_C}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card choice-container" (click)="validateAnswer(currentQuestionOption_D)" [ngClass]="{'incorrect': (currentWrongAnswer!='' && currentWrongAnswer ==  currentQuestionOption_D),
                    'correct': (currentCorrectAnswer!='' && currentCorrectAnswer == currentQuestionOption_D)}">
                <p class="choice-prefix">D</p>
                <p class="choice-text" data-answer="d">{{currentQuestionOption_D}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title heading lead" id="exampleModalLabel">Quiz finished</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
                    <span class="white-text" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                    <h2>Congratulation, you have finished HTML quiz.</h2>
                    <p class="result">You have correctly answered <span id="scoreSummary">
                            {{correctAnswerCount}}</span> out of <span id="totalSummary">5</span> questions.</p>
                </div>
                <div class="container" style="max-height: 400px;overflow-y: auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>Player Name</th>
                                <th>Player Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let playerDetail of playerScoreList | slice:0:10;let in=index">
                                <td>{{in+1}}</td>
                                <td>{{playerDetail.UserName}}</td>
                                <td>{{playerDetail.scoredValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModel(true)">
                    Retry
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModel()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>